{% extends 'base.html' %}
{% load i18n %}

{% block title %}Главная{% endblock %}
{% block jsblock %}
  <script>
    $(document).ready(function() {
      $('.image-link').magnificPopup({type:'image'});
    });
  </script>
{% endblock %}

{% block content %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for popular_product in popular_products %}
        <div class="carousel-item{{ popular_product.active }}">
          <img class="{{ popular_product.class }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-left">
              <h1>{{ popular_product.product.name }}</h1>
              <p>
                <a href="{{ MEDIA_URL }}{{ popular_product.product.one_image }}" class="image-link" title="{{ popular_product.product.name }}">
                  <img src="{{ MEDIA_URL }}{{ popular_product.product.one_image }}" alt="{{ popular_product.product.name }}" width="300" align="right">
                </a>
                {{ popular_product.product.short_description }}
              </p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'info' popular_product.product.id %}" role="button">{% trans "Details" %}</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans "Previous" %}</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">{% trans "Next" %}</span>
    </a>
  </div>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    {% for category_row in category_rows %}
      <div class="row">
        {% for category in category_row %}
          <div class="col-lg-4">
            <img class="img-fluid mx-auto" src="{{ MEDIA_URL }}{{ category.logo }}" alt="{{ category.name }}" width="140" height="140">
            <h2>{{ category.name }}</h2>
            <p>{{ category.description }}</p>
            <p><a class="btn btn-secondary" href="{% url 'search' %}?category={{ category.id }}" role="button">{% trans "Details" %} &raquo;</a></p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Гарантия</h2>
        <p class="lead">Приобретая велосипеды у нас, вы получаете гарантию 1 год.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}images/waranty.png" width="250" height="250">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Цены</h2>
        <p class="lead">Наши цены одни из самых низких на рынке. И мы делаем все, чтобы это не менялось.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}images/price.png" width="250" height="250">
      </div>
    </div>


    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Доставка и оплата</h2>
        <p class="lead">Бесплатная доставка по всей Росии. Оплата товаров при получении.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}images/delivery.png" width="250" height="250">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">Как сделать заказ</h2>
        <ul class="lead">
          <li>Оставьте заявку на сайте</li>
          <li>Дождитесь нашего звонка</li>
          <li>Уточните адрес и время доставки</li>
          <li>Получите заказ</li>
        </ul>
      </div>
      <div class="col-md-5 pull-md-7">
        <img class="featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}images/box.png" width="350" height="350">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
{% endblock %}
