{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ product.name }}{% endblock %}
{% block jsblock %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.parent-container').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true
        }
      });
      $('#requestModel').on('shown.bs.modal', function () {
        $('#id_name').focus()
      });
    });
    function send_request() {
        var fields = ["name", "phone", "email"];
        $.post("{% url 'handle' %}", $("#id_request_form").serialize(), "json")
            .done(function (data) {
                $('#requestModel').modal('toggle');
                $("#id_request_form").trigger('reset');
                fields.forEach(function (name) {
                    $("#id_form_group_" + name).removeClass("has-danger");
                    $("#id_feedback_" + name).html("");
                });
            })
            .fail(function (data) {
                jQuery.each($.parseJSON(data.responseText), function (name, values) {
                    $("#id_form_group_" + name).addClass("has-danger");
                    $("#id_feedback_" + name).html(values.join(" "));
                });
            });
    }
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="heading-category">{{ product.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid parent-container">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-center image-box">
                <a href="{{ MEDIA_URL }}{{ product.one_image }}" title="{{ product.name }}">
                  <img src="{{ MEDIA_URL }}{{ product.one_image }}" class="rounded mx-auto d-block" alt="{{ product.name }}" width="450px" title="{{ product.name }}">
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              {% for image in product.tail_images %}
                <a href="{{ MEDIA_URL }}{{ image }}" title="Image-{{ forloop.counter }}-{{ product.name }}">
                  <img src="{{ MEDIA_URL }}{{ image }}" alt="Image-{{ forloop.counter }}-{{ product.name }}" class="img-thumbnail" width="128">
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="price-info">
                {% if product.final_discount > 0 %}
                  <small><s>{{ product.price|floatformat:"2" }}</s></small>
                {% endif %}&nbsp;
                {{ product.final_price|floatformat:"2" }} &#8381;
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#requestModel">
                  {% trans "Request a callback" %}
                </button>
              </div>
              <!-- Modal window -->
              <div id="requestModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="requestModelLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="requestModelLabel">{% trans "Request a callback" %}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="id_request_form" action="#" method="post" onsubmit="return false;">
                        {% csrf_token %}
                        {{ form.product }}
                        <div id="id_form_group_name" class="form-group">
                          {{ form.name }}
                          <div id="id_feedback_name" class="form-control-feedback"></div>
                        </div>
                        <div id="id_form_group_phone" class="form-group">
                          {{ form.phone }}
                          <div id="id_feedback_phone" class="form-control-feedback"></div>
                        </div>
                        <div id="id_form_group_email" class="form-group">
                          {{ form.email }}
                          <div id="id_feedback_email" class="form-control-feedback"></div>
                        </div>
                        <div id="id_form_group_comment" class="form-group">
                          {{ form.comment }}
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                      <button type="button" class="btn btn-primary" onclick="send_request();">{% trans "Send" %}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              {{ product.description }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <hr>
              {{ product.specification|linebreaksbr }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}