{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Searching" %}{% endblock %}
{% block jsblock %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('.image-link').magnificPopup({type:'image'});
    });
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {% if category %}
          <h1 class="heading-category">{{ category.name }}</h1>
        {% else %}
          {% if name_search %}
            <h1 class="heading-category">{% trans "Searching" %} &laquo;{{ name_search }}&raquo;</h1>
          {% endif %}
        {% endif %}
      </div>
    </div>

    {% if products_page.has_other_pages %}
      <div class="row">
        <div class="col-lg-12">
          <nav aria-label="page navigation">
            <ul class="pagination">
              {% if products_page.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="{{ base_url }}&page={{ products_page.previous_page_number }}" aria-label="Previous" title="{% trans "Previous page" %}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">{% trans "Previous" %}</span>
                  </a>
                </li>
              {% endif %}
              {% for page in pages %}
                {% if products_page.number == page %}
                  <li class="page-item active">
                    <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="{{ base_url }}&page={{ page }}" title="{% trans 'Go to page' %} {{ page }}">{{ page }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if products_page.has_next %}
                <li class="page-item">
                  <a class="page-link" href="{{ base_url }}&page={{ products_page.next_page_number }}" aria-label="Next" title="{% trans "Next page" %}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{% trans "Next" %}</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}

    {% for products_row in products_rows %}
      <div class="row">
        {% for product in products_row %}
          <div class="col-md-6">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="heading-product">{{ product.name }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-center image-box">
                    <a href="{{ MEDIA_URL }}{{ product.one_image }}" class="image-link">
                      <img src="{{ MEDIA_URL }}{{ product.one_image }}" class="rounded mx-auto d-block" alt="{{ product.name }}" width="350px" title="{{ product.name }}">
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-center price">
                    {% if product.final_discount > 0 %}
                      <small><s>{{ product.price|floatformat:"2" }}</s></small>
                    {% endif %}
                    &nbsp;
                    <strong>{{ product.final_price|floatformat:"2" }} &#8381;</strong>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-center">
                    <a href="{% url 'info' product.id %}" class="btn btn-info" title="{% trans "Go to details page" %}">{% trans "Details" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}